.bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  color: white;
  background-color: #13121a;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
}

.counter button {
  font-size: 24px;
  font-weight: 700;
  color: aqua;
  display: flex;
  margin: 0;
  background-color: #57b0f0ba;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .4s;
}

.counter button:hover {
  background-color: #4975dcc6;
}



